.logo{
  color: white;
  font-size: 50px ;
}


.nav ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 2rem;
 
}

.title{
  font-size: 2rem;
  margin: 2rem;
  font-weight: bold;
  color: white;
}


.nav{
  padding: 5px 0;
  background-color: #001C30;
  position: sticky;
  top: 0;
  /* position: relative; */
}


.nav ul li {
  list-style: none;
  color: skyblue;
  cursor: pointer;
  transition: color 0.3s ease; /* Add a smooth transition effect for the color change */

  /* Hover styles */
  &:hover {
    color: rgb(117, 52, 223); /* Change to your desired hover color */
  }
}





/* apply media query, so that at a particular point the hamburger menu shows. we will have to make the navbar disappear to introduce the hamburger menu hence the code below//*/
@media only screen and (max-width: 768px){
.nav ul li{
  display: none;
}
}